{% extends 'main/base.html' %}

{% load static %}

{% block title %}Publications{% endblock %}

{% block content %}

<div class="container" >
    <div class="row">
        
        <div class="col-10">
            {% for p in publications %}
            <div class="blog-post d-flex justify-content-between">
                <div>
                  <h1 class="bg-dark-subtle" >{{p.blog_content}}</h1>
                  <img style="width: 30%;" src="{{p.image.url}}" alt="">
                <a href="{% url 'blog_op:published_detail' p.id %}"><h2 class="blog-post-title">{{p.title}}</h2></a>
                <p class="blog-post-meta">posted on:{{p.published_at}}</p>
                <p>{{p.content}}</p>
                </div>
                <div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Action
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'blog_op:update' p.id %}">update</a></li>
                          <li><a class="dropdown-item" href="{% url 'blog_op:delete_blog' p.id %}">delete</a></li>
                         
                        </ul>
                      </div>
                </div>
                
              </div>
              <hr class="border border-primary border-3 opacity-75">
            {% endfor %}
        </div>
        <div class="col-2" >
          <div class="position-sticky top-50 end-0 translate-middle-y" >
            <div class="d-flex flex-column mb-3">
              <a style="width: 100%; text-decoration: none;" class="border-20 border bg-primary text-white p-3 text-center"  href="{% url 'blog_op:publications'%}">All</a>
                {% for key , value in blog_content.choices %}
                  <a style="width: 100%; text-decoration: none;" class="border-20 border bg-primary text-white p-3 text-center"  href="{% url 'blog_op:publications'%}?search={{key}}">{{value}}</a>  
                {% endfor %}
            </div>
          </div>
        </div>

    </div>
</div>

{% endblock %}