{% extends 'main/base.html' %}
{% load static %}
{% block title %}Read blog{% endblock %}
{% block content %}
<section class="container m-4 p-4">
    <h1 class="text-center">All blogs</h1>
    <div class="row gap-3">
        {% for blog in blogs %}
        <div class="mt-3 col">
            <a href="{% url 'Blog:blog_detail' blog.id %}"><h4>Title: {{blog.title}}</h4></a>
            <img src="{{blog.image.url}}" height="200px" width="250"/>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}