{% extends 'main/base.html' %}

{% block title %} {{info.title}} {% endblock %}

{% block content %}

<section class="container">
     
    <h1>All Contants</h1>
    <div class="dropdown d-flex justify-content-end">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Edit
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'info:info_home_view' %}?category=Comment">Comment</a></li>
          <li><a class="dropdown-item" href="{% url 'info:info_home_view' %}?category=Complaint">Complaint</a></li>
          <li><a class="dropdown-item" href="{% url 'info:info_home_view' %}?category=Suggestion">Suggestion</a></li>
        </ul>
      </div>

    <div class="row">

        {% for i in info %}

            <div class="col-4">
                
                <div class="d-flex flex-column gap-2 p-3 border border-1 rounded-4 shadow">
                     <img src="{{i.poster.url}}"/>
                    <a href="{% url 'info:info_details_view' i.id %}"> <h2>{{ i.title }} </h2></a>

                    <h4> Contant:  {{i.contant}}</h4>
                    <h4>Release Date: {{ i.published_at }} </h4>
                    <h4>Category:{{i.category}}</h4>
                
                </div>
            
            </div>
            


        {% endfor %}

    </div>

</section>

{% endblock %}