.title h1{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

body{
    background-color:seashell;
}

.material-symbols-outlined{
    font-size: 60px;
}

.img-icon{
    width: 50px;
}