{% extends 'main/base.html' %}

{% block title %} All Blogs {% endblock %}

{% block content %}

<section class="container">

    <h1>All Blogs ({{lapblog_count}})</h1>

    <div class="row">

        {% for blog in lapblog %}

            <div class="col-4">
                <div class="d-flex flex-column gap-2 p-3 border border-1 rounded-4 shadow">
                    <img src="{{Web.poster.url}}" />
                    <a href="{% url 'lapblog:blog_detail_view' blog.id %}"><h2>{{ blog.Title }}</h2></a>
                    
                    
                    <h2>{{ blog.Title }}</h2>
                    <img width="50px" height="50px" src="{{blog.poster.url}}"/>
                    <h4>  Contant :  {{Web.Contant }}</h4>
                    <h4>is_published: {{ Web.is_published }} </h4>
                    <h4>published_at: {{ Web.published_at }} </h4>
                </div>
            </div>
            


        {% endfor %}

    </div>
    {% endblock %}