{% extends 'main/base.html' %}

{% block title %} search about a Blog {% endblock %}

{% block content %}

<section class="container">

    <h1>Search results for `{{ request.GET.search }}` ({{ Web.count }})</h1>

    <div class="row">

        <div class="col-6">
         

            <form action="{% url 'lapblog:search_blog_view' %}" method="git" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Blog Title:</label>
                <input class="form-control" type="text" name="Title" placeholder="Blog Title" />

                <input class="btn btn-primary" type="submit" value="search a blog" />
            </form>
            <div class="p-3 d-flex flex-column">
                <a class=" text-decoration-none" href="{% url lapblog:blog_detail_view'  blog.id %}"><h2>{{blog.name }}</h2></a>

            </div>

        </div>

    </div>

</section>

{% endblock %}