{% extends 'main/base.html' %}
{% block title %}   Read Post  {%endblock%}


{% block content %}

<section class="container">
    <h1>All blogs</h1>
    <div class="row">
        {% for blog in blogs %}

            <div class="col-4">
                <div class="d-flex flex-column gap-2 p-3 p-3 border border-3 rounded-4 shadow">
                    <img src="{{blog.image.url}}" />
                    <a href="{% url 'blogApp:detail_blog_view' blog.id %}">  <h2> {{ blog.title }} {{blog.id}}</h2>  </a>
                    <h4> content:  {{blog.content}}</h4>
                    <h4>published_at: <h5 class="opacity-50">{{ blog.published_at }} </h5> </h4>
            
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
