{% extends 'main/base.html' %}


{% block title %} Update {{ blog.title }}{% endblock %}


{% block content %}
    <div class="container mt-5"> 

        <div class="row">
            <h2>Update {{blog.title}}:</h2>
            <div class="col">

                <form action="{% url 'blog:update_blog_view' blog.id %}" method="POST" enctype="multipart/form-data">                    {% csrf_token %}
                   
                    <label>Blog Title:</label>
                    <input class="form-control" type="text" name="title" placeholder="Enter Blog Titel" value="{{blog.title}}" />
                <br>
                    <label>Category:</label>
                    {% for key, value in categories.choices %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="category" id="{{key}}" value="{{key}}" {% if blog.category == key %} checked {% endif %}>
                            <label class="form-check-label" for="{{key}}">
                            {{value}}
                            </label>
                        </div>
                    {% endfor %}
    
                    <br>
                    <label> Content: </label>
                    <textarea class="form-control" name="content">{{blog.content}}</textarea>
                    <br>

                    <label>Blog Rating:</label>
                    <select name="rating" class="form-select" >
                        <option value="1"  {% if movie.rating == 1 %} selected {% endif %}>1 Star</option>
                        <option value="2" {% if movie.rating == 2 %} selected {% endif %}>2 Star</option>
                        <option value="3" {% if movie.rating == 3 %} selected {% endif %}>3 Star</option>
                        <option value="4" {% if movie.rating == 4 %} selected {% endif %}>4 Star</option>
                        <option value="5" {% if movie.rating == 5 %} selected {% endif %}>5 Star</option>
                    </select>

                  <p>Is Published? </p>
                      <input type="radio"  name="is_published" value="{{blog.is_published}}"  >
                      <label >Yes</label>
                      <input type="radio"  name="is_published" value="{{blog.is_published}}" >
                      <label>No</label><br>
    
                    <br>
                    <label>Blog Published Date:</label>
                    <input class="form-control" name="published_at" type="date" value="{{blog.published_at|date:'Y-m-d' }}"/>
    <br>
                    <label>Blog Poster:</label>
                    <input type="file" name="poster"  class="form-control" accept="image/*"/>
                <br>

                    <input class="btn btn-primary" type="submit" value="Update Blog" />
                </form>
            </div>
        </div>

    </div>
{% endblock %}