.container-home{
    background-image: url('/static/img/background-blog.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 40vh 5vw;
    width: 100%;
    z-index: -1;
   
}
.container-add {
    background-color: rgb(187, 187, 187);
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    font-family: 'Patua One', serif;
    margin-top: 140hv;
    display: inline-block;
    padding: 30px;
    border-radius: 20px;
   
}
#title{
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    font-family: 'Patua One', serif;
    background-color: rgb(189, 192, 192);
    text-align: center;
    border-radius: 10px;
    padding-right:5vw ;

}
.nopage-contauner{
    background-color: rgb(187, 187, 187);
    padding:5vw;
}
.nopage-contauner h2{
    font-size: 90px;
    font-family: 'Anton', sans-serif;
    font-family: 'Patua One', serif;
}
.container-home-add{
    font-size: 90px;
    font-family: 'Anton', sans-serif;
    font-family: 'Patua One', serif;
    margin-top: -11rem;
}
.detalis-contauner{
    background-color: rgb(157, 157, 157);
    font-size: 90px;
    font-family: 'Anton', sans-serif;
    font-family: 'Patua One', serif;
    margin-top: -11rem;
    padding: 20px;
    display:inline-block;
    border-radius: 20px;
    width: 70%;
}