{% extends 'main/base.html' %}
{% load static %}
{% block title %}Read blog{% endblock %}
{% block content %}

<section class="container">
    <div class="d-flex justify-content-between">
        <h1 class="text-center">All blogs</h1>
        <br>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Order By
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'blogs:read' %}">Latest</a></li>
              <li><a class="dropdown-item" href="{% url 'blogs:read' %}?order=top">Rating</a></li>
            </ul>
          </div>
        </div>
        <div class="dropdown mb-3 d-flex justify-content-between ">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </button>
            <ul class="dropdown-menu ">
              <li><a class="dropdown-item" href="{% url 'blogs:BlogsCat' %}?category=Makeup">Makeup</a></li>
              <li><a class="dropdown-item" href="{% url 'blogs:BlogsCat' %}?category=Movie">Movie</a></li>
              <li><a class="dropdown-item" href="{% url 'blogs:BlogsCat' %}?category=Celebrities">Celebrities</a></li>
              <li><a class="dropdown-item" href="{% url 'blogs:BlogsCat' %}?category=Care">Care</a></li>
              <li><a class="dropdown-item" href="{% url 'blogs:BlogsCat' %}?category=Places">Places</a></li>

            </ul>

          </div>
    <div class="row">

        {% for blog in blogs %}

            <div class="mt-4 col-4">

                <div class="d-flex flex-column gap-2 p-3 border border-1 rounded-4 shadow">
                    <img src="{{blog.poster.url}}" width="100%" height="300" />
                    <a href="{% url 'blogs:detail'  blog.id %}"><h4>Title: {{blog.title}}</h4></a>
                    <h5>Content: {{blog.content}}</h5>
                    <h5>is published: {{blog.is_published}} </h5>
                    <h5>published at: {{blog.published_at}}</h5>
                </div>

            </div>

        {% endfor %}

    </div>

</section>


{% endblock %}
