{% extends 'main/base.html' %}
{% load static %}

{% block title %} All blogs {% endblock %}

{% block content %}
<div class="home">
    <h1 class="home-title"> Welcome to Our Blogs Website !</h1>
    <div class="dropdown" id="order">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Order By
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'main:home'%}">Latest</a></li>
        </ul>
    </div>
</div>

<div class="review-home">
    <section class="row">
        <h4>Reviews: </h4>
        <div class="col">
            <div class="box-review">
                {% for review in review %}
                <div class="d-flex flex-column gap-2 border border-1 p-3">
                    <h4>{{ review.full_name }}</h4>
                    <h6 class="text-muted">{{ review.created_at }}</h6>
                    <h6>{{ review.rating }}</h6>
                    <p>{{ review.comment }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

{% endblock %}