{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<div class="container">

    <div class="row mt-3">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <div class="d-flex flex-column gap-2 h-100 justify-content-center align-items-start">
                <h2>Welcome to My Sport BLOG</h2>
                <p>Engaging in sports is more than just a physical activity; it's
                    a pathway to well-being and connection. Whether playing individually 
                    or as part of a team, sports contribute to a healthy lifestyle, fostering
                    fitness and mental resilience. Beyond the physical benefits, participation
                    in sports cultivates crucial life skills such as teamwork, discipline, 
                    and perseverance. The shared experiences on the field create bonds that go
                    beyond cultural and geographic boundaries, forming a global community united by 
                    the joy of athletic achievement. In essence, sports serve as a dynamic platform for 
                    personal growth, community building, and the celebration of human potential. 
                </p>
            </div>
        </div>
        <div class="col order-1 order-md-2 ">
            <img class="w-100 rounded-5" src="" />
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <h3>something about sport</h3>
        </div>

    </div>

</div>

{% endblock %}