{% extends 'main/base.html' %}

{% block title %} All Movies {% endblock %}

{% block content %}

<section class="container pt-4">

    <div class="d-flex justify-content-between">
        <h1> Search results for `{{ request.GET.search }}`</h1>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Order By
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'main:home' %}">Latest</a></li>
            </ul>
        </div>
    </div>


    <div class="row  g-4 row-cols-1 row-cols-md-3">
        {% for blog in blogs %}
        <div class="col">
            <div
                class="movie-card d-flex flex-column gap-2 p-0 border border-1 rounded-4 shadow h-100 overflow-hidden justify-content-start">
                <img class="image" src="{{blog.image.url}}" />
                <div class="p-3 d-flex justify-content-between align-items-center">
                    <div class="d-flex gap-1">
                        <span
                            class="releae ps-3 pe-3 bg-secondary rounded-pill text-white">{{blog.release_date.year}}</span>
                        <span class="cat ps-3 pe-3 rounded-pill text-white {{blog.category}}">{{blog.category}}</span>
                    </div>
                </div>
                <div class="p-3 d-flex flex-column">
                    <a class=" text-decoration-none" href="{% url 'main:detail_blog'  blog.id %}">
                        <h2>{{ blog.name }}</h2>
                    </a>

                </div>
            </div>
        </div>



        {% endfor %}

    </div>

</section>

{% endblock %}